<?xml version="1.0"?>
<configuration>
  
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
  </configSections>
  
  <appSettings>

    <add key="couch-server" value="http://localhost:5984" />
    <add key="couch-catalog-database" value="ascend-catalog" />
    <add key="couch-tenants-database" value="ascend-tenants" />
    <add key="couch-ticketjones-database" value="ascend-ticketjones" />
    
    <add key="email-server"     value="smtp.gmail.com" />
    <add key="email-username"   value="outbound@belaysoftware.com" />
    <add key="email-password"   value="outbound" />
    <add key="email-enable-ssl" value="true" />

    <!-- phsyical path when using FolderImageService, bucket name when using AmazonImageService -->
    <!-- s3 bucket is not auto-created, make sure it exists ahead of time -->
    <add key="image-folder" value="products.ascendrewards.com" />
    
    <!-- standard amazon key information for aws -->
    <add key="amazon-access-key" value="AKIAJ7H6XIG4QUROEHAQ" />
    <add key="amazon-secret-key" value="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" />

  </appSettings>

  <log4net>
    <appender name="FileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="../logs/ascend.log" />
      <appendToFile value="false" />
      <rollingStyle value="Composite" />
      <datePattern value="yyyyMMdd" />
      <maxSizeRollBackups value="20" />
      <maximumFileSize value="10MB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{ISO8601} %-5level [%-25logger %-7t] %m%n" />
      </layout>
    </appender>
    <root>
      <!-- Value of priority may be ALL, DEBUG, INFO, WARN, ERROR, FATAL, OFF -->
      <level value="ALL"/>
      <appender-ref ref="FileAppender"/>
    </root>
    <logger name="Amazon.S3.AmazonS3">
      <level value="WARN" />
    </logger>
  </log4net>
  
  <system.web>
    <authentication mode="Forms">
      <forms loginUrl="~/login" timeout="2880" name="__auth" />
    </authentication>
    <sessionState cookieName="__session" />
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.ComponentModel.DataAnnotations, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add assembly="System.Data.DataSetExtensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add assembly="System.Web.DynamicData, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add assembly="System.Xml.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <customErrors defaultRedirect="~/error.html" mode="RemoteOnly" />
    <httpRuntime maxRequestLength="102400" />
    <!-- For Mono/XSP2 -->
    <httpHandlers>
      <add verb="*" path="*.mvc" validate="false" type="System.Web.Mvc.MvcHttpHandler" />
    </httpHandlers>
    <httpModules>
    </httpModules>
    <!-- /end -->
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2000000000" />
      </requestFiltering>
    </security>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="WebDAVModule" />
    </modules>
    <handlers>
      <add name="MvcHttpHandler" preCondition="integratedMode" verb="*" path="*.mvc" type="System.Web.Mvc.MvcHttpHandler" />
    </handlers>
  </system.webServer>
</configuration>