<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Ascend.Infrastructure.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Ascend.Infrastructure.Properties.Settings>
            <setting name="AscendRewards_Infrastructure_com_xtics_plugin_xtics_rpc" serializeAs="String">
                <value>https://plugin.xtics.com:443/rpc-dev/soap.php</value>
            </setting>
            <setting name="MyAdvantageOne_Infrastructure_com_xtics_plugin_xtics_rpc" serializeAs="String">
                <value>https://plugin.xtics.com:443/rpc-dev/soap.php</value>
            </setting>
        </Ascend.Infrastructure.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
